body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
overflow: hidden;}
  canvas {
 
  width: 100%;   
    height: 100%;
}

#desplegable-mercurio{
    position: absolute;
    top: 20px; 
    left: 50%; 
    display: none; 
    background: blue; 
    color: white; 
    padding: 10px 20px; 
    border: 3px solid #df2525;
    border-radius: 9px;
}