body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
  

  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  width: 1920px;
  height: 1080px;
  background-color: #020b1a; 
}
.botones {
  position: absolute; 
  bottom: 40px;   
  right: 40px;    
  display: grid;
  grid-template-areas: "arriba arriba"
  "izquierda derecha"
  "abajo abajo";
  align-content: center;
  justify-items: center;
  gap: 10px;     
  z-index: 1000; 
  background-color: #df2525; 
  padding: 12px;
  border-radius: 12px;
}
#hacia-arriba{
    grid-area: arriba;
}
#hacia-abajo{
    grid-area: abajo;
}
#hacia-izq{
    grid-area: izquierda;
}
#hacia-der{
    grid-area: derecha;
}

.contenedor-desplegable {
    position: absolute;
    top: 30px; 
    left: 30px; 
    display: grid; 
   
    grid-template-columns: 120px 180px; 
    grid-template-areas:
        "titulo titulo"
        "imagen informacion"
        "curiosidades curiosidades" 
        "lunas lunas";
    
    
    background: rgba(2, 46, 90, 0.85);
   
    
    color: #e0e0e0; 
    padding: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-left: 4px solid #df2525; 
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    gap: 15px;
    
    
}

.titulo {
    grid-area: titulo;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #fff;
    border-bottom: 4px solid rgba(255, 255, 255, 0.644);
    padding-bottom: 5px;
}

.imagen-planeta {
    grid-area: imagen;
    width: 100%;
    border-radius: 8px;
    
}

.informacion {
    grid-area: informacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    gap: 20px;
}

.informacion  {
    color: #df2525; 
    font-weight: bold;
  
    
}

.curiosidades {
    grid-area: curiosidades;
  
    line-height: 1.4;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 6px;
}

.curiosidades {
    font-weight: bold;
    margin-bottom: 4px;
    color: #fff;
}

.lunas {
    grid-area: lunas;
  
    color: #ffffff;
    text-align: left;
}